.footer {
  padding: 40px;
  border-top: 1px solid #eee;
}
.row {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
}
.copy {
  font-size: 14px;
  color: #777;
}
.dev {
  font-size: 14px;
}