hero {
  position: relative;
}

.hero img {
  width: 100%;
  border-radius: 24px;
}

.hero h1 {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 120px;
  color: white;
}
